{% if categories is not empty %}
    <section class="categories-section {% if categoriesSize is defined %}{{ categoriesSize }}{% endif %} {% if categoriesStyles is defined %}{{ categoriesStyles }}{% endif %} {% if categoriesNoDescription is defined %}{{ "no-description" }}{% endif %}">
        {% for category in categories %}
            <a href="/{{ category.getUrl() }}">
                <div class="category">
                    <div class="container">
                       <div class="header">
                            {# <i data-feather="{{ category.getIconName() }}" class="icon"></i> #}
                            <h3 class="title">{{ category.getTitle() }}</h3>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>
{% endif %}